@import url('http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700');

$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

html,body {
  height: 100%;
  margin: 0;
  background-image: url("http://localhost:81/es2015/react-chat/view/assets/img/back.jpg");
  background-attachment: fixed;
}

.intro {
  p, h1 {
    font-family: $roboto-slab;
  }

  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.5em;
  }

  .header {
    padding-top: 15%;
  }


  text-align: center;
  width: 100%;
  min-height: 100%;
}

#content {
  //background-image: url("http://localhost:81/es2015/react-chat/view/assets/img/wallpaper.jpg");
  //background-attachment: fixed;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  min-height: 100%;
  text-align: center;

  .chat-window {
    width: 60%;
    height: 500px;
    vertical-align: middle;
    margin: 0 auto;
    //background-color: rgba(255,0,0,0.1);
  }
  .chat-window {
    padding:20px 0;
  }
  .buttons-panel, .notes-panel, .message-panel {
    width: 60%;
    height: 50px;
    //background-color: rgba(255,0,0,0.1);
    margin: 0 auto;
  }
  .grid-list {
    text-align: left;
    border-radius: 20px;
    width: 90%;
    height: 500px;
    overflow-y: auto;
    margin: 0 auto !important;
    background-color: rgba(255,255,255,0.6);
  }
}